@tailwind base;
@tailwind components;
@tailwind utilities;

@import './custom-styles.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  
  /* Custom color variables */
--dw-dark: 200 28% 30%;
--dw-darker: 197 34% 18%;
--dw-soft: 196 68% 66%;
--dw-softer: 196 68% 75%;
--dw-white: 0 0% 100%;

/* Filter values for SVGs */
--filter-dw-dark: invert(32%) sepia(15%) saturate(1024%) hue-rotate(152deg) brightness(94%) contrast(89%);
--filter-dw-darker: invert(18%) sepia(23%) saturate(669%) hue-rotate(155deg) brightness(94%) contrast(90%);
--filter-dw-soft: invert(80%) sepia(10%) saturate(1095%) hue-rotate(157deg) brightness(93%) contrast(90%);
--filter-dw-softer: invert(87%) sepia(8%) saturate(523%) hue-rotate(157deg) brightness(103%) contrast(95%);
--filter-dw-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-weight: 500; */
  @apply font-heading;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --color-primary: #db5590;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

